@font-face {
    src: url('fonts/ArialMT.eot'),  url('fonts/arial.ttf') format('truetype');
    font-family: "Arial";
}
@font-face {
    src: url('fonts/arial black.ttf');
    font-family: "Arial - Black";
}
@font-face {
    src: url('fonts/Arial-BoldMT.otf');
    font-family: "Arial - Bold MT";
}

*{
    box-sizing: border-box;
    font-family: "Arial";
}

.container{
    max-width: 1265px !important;
}

html{
    font-size: 10px;
}

main{
    min-height: calc(100vh - 267px);
}

body{
    margin: 0px;
    padding: 0px;
    font-size: 16px !important;
}
