form.form
    .form__tabs
        .form__tabs-title.active(data-tab='1') Автомобили
        .form__tabs-title(data-tab='2') Спецтехника
        .form__tabs-title(data-tab='3') Автозапчасти
        
    .form__content.pb-3(data-tab='1')
        .d-flex.mb-2.align-items-center
            select.select.mr-3(name='', style='width:244px;')
                option(selected disabled hidden) Марка автомобиля
                option ВАЗ
                option Nissan
            select.select.mr-3(name='', style='width:244px;')
                option(selected disabled hidden) Модель
                option ВАЗ 2110
                option Nissan gtr
            select.select.mr-3(name='', style='width:159px;')
                option(selected disabled hidden) Год от
                option 2017
                option 2018
            select.select.mr-3(name='', style='width:159px;')
                option(selected disabled hidden) Год до
                option 2017
                option 2018
            .checkbox.mx-auto
                input.d-none(type='checkbox', name='withPhoto', id='withPhoto')
                label.checkbox__label(for='withPhoto')
                .checkbox__text(for='withPhoto') C фото
        .d-flex.mb-4.align-items-center
            select.select.mr-3(name='', style='width:159px;')
                option(selected disabled hidden) КПП
                option АКПП
                option МКПП
            select.select.mr-3(name='', style='width:159px;')
                option(selected disabled hidden) Топливо
                option ДТ
                option 92
                option 95
            select.select.mr-3(name='', style='width:159px;')
                option(selected disabled hidden) Цена от 
                option 100000
                option 500000
                option 1000000
            select.select.mr-3(name='', style='width:159px;')
                option(selected disabled hidden) Цена до
                option 100000
                option 500000
                option 1000000
            
            .checkbox.mx-auto.form__detailed
                input.d-none(type='checkbox', name='exchange', id='exchange')
                label.checkbox__label(for='exchange')
                .checkbox__text(for='exchange') Возможен обмен
            .checkbox.mx-auto.form__detailed
                input.d-none(type='checkbox', name='foreignCar', id='foreignCar')
                label.checkbox__label(for='foreignCar')
                .checkbox__text(for='foreignCar') Иномарки
            button.button.button_orange.button_long.button_rounded-sm(data-role='search') Поиск
            
        .form__row
            select.select.mr-3.form__detailed(name='', style='width:159px;')
                option(selected) Любой руль
                option Левый
                option Правый
                
            select.select.mr-3.form__detailed(name='', style='width:159px;')
                option(selected disabled hidden) Привод
                option Полный
                option Передний
                option Задний
                
            select.select.mr-3.form__detailed(name='', style='width:159px;')
                option(selected disabled hidden) Документы
                option В порядке
                option Не в порядке
                option Их нет
                
            select.select.mr-3.form__detailed(name='', style='width:159px;')
                option(selected disabled hidden) Состояние
                option Новый
                option С пробегом
                option Битый
                
            select.select.mr-3.form__detailed(name='', style='width:159px;')
                option(selected disabled hidden) Кузов
                option Седан
                option Кроссовер
                
            select.select.mr-3.form__detailed(name='', style='width:159px;')
                option(selected disabled hidden) Цвет
                option Красивый
                option Некрасивый
                
        .form__row.form__detailed.mt-4
            .form__input-group.form__detailed
                .form__title Мощность по ПТС
                .d-flex
                    select.select.mr-3(name='', style='width:127px;')
                        option(selected disabled hidden) От
                        option 80 л.с
                        option 100 л.с
                    select.select.mr-3(name='', style='width:127px;')
                        option(selected disabled hidden) До
                        option 80 л.с
                        option 100 л.с
            .form__input-group.form__detailed
                .form__title Пробег
                .d-flex
                    select.select.mr-3(name='', style='width:127px;')
                        option(selected disabled hidden) От
                        option 50 000
                        option 100 000
                    select.select.mr-3(name='', style='width:127px;')
                        option(selected disabled hidden) До
                        option 50 000
                        option 100 000
        
        .text-center.mt-4
            .link.link_arrow-bottom(data-tab='1', data-role='toggleform') Детальный фильтр
            
            
