.form{
    background: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
}

.form__content{
    position: relative;
}

.form__tabs{
    display: flex;
    align-items: center;
}

.form__tabs-title{
    cursor: pointer;
    background: #e4e4e4;
    padding: 5px 17px;
    color: #475258;
    font-size: 16px;
    font-weight: bold;
}

.form__tabs-title.active{
    background: #2b87dc;
    color: #fff;
}

.form__tabs-title:first-child{
    border-top-left-radius: 5px;
}

.form__tabs-title:not(:first-child){
    border-left: 1px solid #dadada;
}

.form__content{
    margin-top: 31px;
    padding: 0px 18px;
}

.form__title{
    color: #121212;
    font-size: 14px;
}

.form__content [data-role='search'].formOpen{
    position: absolute;
    bottom: 51px;
    right: 27px;
}

.form__row{
    display: flex;
}

.form__color-helper{
    width: 38px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
}

.form__hr{
    width: 103.8%;
    position: relative;
    left: -18px;
}

.form__hr2{
    width: 105%;
    position: relative;
    left: -30px;
}

.form__text{
    font-size: 12px;
    color: #475258;
}

.form__loaded-img{
    width: 136px;
    height: 91px;
}

.form__photos{
    display: flex;
    overflow-x: auto;
}
