.select{
    appearance: none;
    background: #fff url('img/select-arrow.png') no-repeat 95% center/ 13px 9px;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    height: 34px;
}

.select option{
    color: #121212;
    font-size: 14px;
    padding: 10px;
}


select::-ms-expand {
    display: none;
}
