.map.mt-5
    .map__top
        .map__label.mr-4 Город: Новосибирск
        .link.link_big(data-role='toggleMap') показать на карте
        .link.link_big.ml-auto(data-role='complaint') пожаловаться
        ul.list(style="position:absolute;right: 0px;top:36px;display:none;")
            li.list__item Неактуально
            li.list__item Мошенник
    iframe(style='display:none', src='https://yandex.ru/map-widget/v1/?um=constructor%3Abf0a91fbe109491b1d5bb54ac187c0d89636271a2a62d1f500a729e54fa18d9e&source=constructor', width='100%', height='459', frameborder='0')

        
