.title{
    color: #121212;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

.title_small{
    font-size: 14px;
}

.title_big{
    font-size: 20px;
}

.title_big2{
    font-size: 22px;
}
