.header__top-wrapper{
    background: #475258;
}

.header__top{
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1262px;
    margin: 0px auto;
}

.header__menu{
    padding: 0px;
    display: inline-flex;
    list-style: none;
    margin: 0px;
}

.header__menu-item{
    color: #f4f4f4;
    font-size: 14px;
}

.header__menu li:not(:last-child){
    margin-right: 2.6rem;
}

.header__enter{
    position: relative;
    color: #f4f4f4;
    font-size: 14px;
    cursor: pointer;
}

.header__enter::before{
    position: absolute;
    width: 16px;
    height: 20px;
    content: '';
    left: -20px;
    background: url('img/header-user.png') no-repeat center / contain;
}

.header__bottom{
    max-width: 1262px;
    margin: 0px auto;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0.8rem;
}

.header__logo{
    color: #121212;
    font-family: "Arial - Black";
    font-size: 28px;
}

.header__logo:hover{
    color: #121212;
    text-decoration: none;
}
