noscript
    p Please enable Javascript
    
header.header
        .header__top-wrapper
            .header__top
                nav
                    ul.header__menu
                        li
                            a.header__menu-item(href="#") Авторазборы
                        li
                            a.header__menu-item(href="#") Частники
                        li
                            a.header__menu-item(href="#") Магазины
                        li
                            a.header__menu-item(href="#") Автосервисы
                            
                .header__enter Вход и регистрация
                
        .header__bottom-wrapper.shadow-sm
            .header__bottom
                a.header__logo(href="#") AutoRix
                button.button.button_blue Добавить объявление
            
        
