.link{
    color: #256ba6;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.link:hover{
    text-decoration: underline;
}

.link_arrow-bottom, .link_arrow-up{
    display: inline-block;
    text-decoration: underline;
}

.link_arrow-bottom::after{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: -13px;
    width: 9px;
    height: 12px;
    background: url('img/link-arrow-bottom.png') no-repeat center / contain;
}

.link_arrow-up::after{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    right: -13px;
    width: 9px;
    height: 12px;
    background: url('img/link-arrow-bottom.png') no-repeat center / contain;
}

.link_big{
    font-size: 16px;
}

.link_blank::after{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    right: -15px;
    width: 11px;
    height: 11px;
    background: url('img/link-blank.png') no-repeat center / contain;
}
