.car-preview{
    display: flex;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin: 5px 0px;
    background-clip: content-box;
    padding-bottom: 5px;
}

.car-preview__link{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.car-preview:hover{
    background: #f4f4f4;
}

.car-preview:hover .car-preview__model{
    color: #c00017;
}

.car-preview.vip{
    background-color: #ffedd0;
}

.car-preview.vip .car-preview__model{
    color: #f4f4f4;
    background: #db001c;
    padding: 1px 8px 1px 8px;
    margin-top: 8px;
}

.car-preview.vip .car-preview__favorite{
    margin-top: 11px;
}

.car-preview__img{
    min-width: 220px;
    min-height: 148px;
    max-width: 220px;
    max-height: 148px;
    margin-right: 10px;
    object-fit: none;
}

.car-preview__main-info{
    margin-right: 93px;
}

.car-preview__model{
    position: relative;
    color: #121212;
    font-size: 18px;
}

.car-preview__model_up::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -16px;
    width: 12px;
    height: 14px;
    background: url('img/car-preview-down-up.png') no-repeat center / contain;
}

.car-preview__price{
    margin-left: 6px;
    color: #121212;
    font-size: 18px;
    font-weight: 700;
    margin-top: 27px;
}

.car-preview__favorite{
    transition: 0.3s;
    width: 19px;
    height: 19px;
    background: url('img/car-preview-star.png') no-repeat center / contain;
    margin-top: 18px;
    margin-left: 7px;
    z-index: 1;
    position: relative;
}

.car-preview__favorite:hover, .car-preview__favorite.active {
    cursor: pointer;
    background: url('img/car-preview-star-active.png') no-repeat center / contain;
}

.car-preview__favorite:not(.active):hover::after{
    position: absolute;
    content: 'Добавить в избранное';
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    background: #475258;
    padding: 2px 8px;
    color: #f4f4f4;
    font-family: "Arial";
    font-size: 14px;
    white-space: nowrap;
    border-radius: 5px;
}

.car-preview__city-label{
    color: #475258;
    font-size: 12px;
    margin-top: 12px;
    position: absolute;
    bottom: 5px;
}

.car-preview__text{
    color: #121212;
    font-size: 14px;
}

.car-preview__text:not(:first-child){
    margin-top: 5px;
}
