tr.car-preview
    td
        a.car-preview__link(href="#")
        img.car-preview__img(src='img/car-preview-car.png', alt='Mersedes-Benz E350')
    
    td
        .car-preview__main-info
            .car-preview__model Mercedes-Benz E350 - 2016 г
            .car-preview__price 3 350 000
            .car-preview__favorite
            .car-preview__city-label Новосибирск. Сегодня в 14:24
    td    
        .car-preview__additional-info
            .car-preview__text Бензин - 4.6 л (208 л.с)
            .car-preview__text 4WD - Автомат
            .car-preview__text Пробег - 290 тыс. км
            .car-preview__text Левый руль
