.input{
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    background-color: #ffffff;
    height: 34px;
    color: #121212;
    font-size: 14px;
    padding-left: 10px;
}

.input_photos-label{
    display: block;
    width: 136px;
    height: 91px;
    cursor: pointer;
    background: url("img/form-addPhoto.jpg") no-repeat center / contain;
}

.input_photos-label input[type='file']{
    visibility: hidden;
    width: 0px;
}
