.user.mt-5
    img.user__img.mr-3(src='img/user-img.jpg', alt='Дмитрий'    )
    .user__info
        .user__name Дмитрий
        .user__last-seen Был сегодня в 18:14
        button.button.button_gray.button_rounded-sm.mt-1.w-100 написать
