.user{
    max-width: 261px;
    width: 100%;
    display: flex;
    align-items: center;
}

.user__info{
    width: 100%;
}

.user__img{
    cursor: pointer;
    width: 79px;
    height: 79px;
}

.user__name{
    color: #121212;
    font-size: 14px;
    font-weight: 700;
}

.user__name_big{
    font-size: 22px;
}

.user__last-seen{
    color: #475258;
    font-size: 12px;
}

.user__status{
    color: #121212;
    font-size: 16px;
    position: relative;
    display: flex;
    align-items: center;
}

.user__status.confirmed::before{
    display: block;
    content: '';
    width: 20px;
    margin-right: 4px;
    height: 20px;
    background: url('img/user-confirmed.png') no-repeat center / contain;
}
