.slider-item{
    display: block;
    width: 219px;
    height: 185px;
    box-shadow: 0 3px 7px rgba(228, 228, 228, 0.5);
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    background: #fff;
    position: relative;
    text-decoration:none;
}


.slider-item__price{
    position: absolute;
    color: #f4f4f4;
    font-size: 14px;
    font-weight: 700;
    background-color: #c00017;
    border-top-right-radius: 20px;
    padding: 5px 15px;
    left: 0;
    bottom: 36px;
}


.slider-item__img{
    min-height: 147px;
    max-width: 219px;
    max-height: 147px;
    border-radius: 5px;
}

.slider-item__info{
    padding: 7px 11px;
}

.slider-item__model{
    color: #121212;
    font-size: 14px;
    line-height: 6px;
}

.slider-item__city{
    color: #475258;
    font-size: 12px;
}
