a.slider-item(href="#")
    img.img-fluid.slider-item__img(src='img/slider-item-auto2.jpg', alt='mersedes-benz e350')
    .slider-item__price 1 100 000
    .slider-item__info
        .slider-item__model BMW 7
        .slider-item__city Новосибирск
        
