.position-relative
    .car-carousel__button спецразмещение
    .car-carousel.owl-carousel.owl-theme
        a.slider-item(href="#")
            img.img-fluid.slider-item__img(src='img/slider-item-auto1.jpg', alt='mersedes-benz e350')
            .slider-item__price 3 350 000
            .slider-item__info
                .slider-item__model Mercedes-Benz E350
                .slider-item__city Новосибирск
        a.slider-item(href="#")
            img.img-fluid.slider-item__img(src='img/slider-item-auto2.jpg', alt='mersedes-benz e350')
            .slider-item__price 1 100 000
            .slider-item__info
                .slider-item__model BMW 7
                .slider-item__city Новосибирск
        a.slider-item(href="#")
            img.img-fluid.slider-item__img(src='img/slider-item-auto3.jpg', alt='mersedes-benz e350')
            .slider-item__price 2 000 000
            .slider-item__info
                .slider-item__model BMW X1
                .slider-item__city Новосибирск
        a.slider-item(href="#")
            img.img-fluid.slider-item__img(src='img/slider-item-auto4.jpg', alt='mersedes-benz e350')
            .slider-item__price 6 120 000
            .slider-item__info
                .slider-item__model Lexus R
                .slider-item__city Новосибирск
        a.slider-item(href="#")
            img.img-fluid.slider-item__img(src='img/slider-item-auto5.jpg', alt='mersedes-benz e350')
            .slider-item__price 840 000
            .slider-item__info
                .slider-item__model Toyota corolla
                .slider-item__city Новосибирск
        a.slider-item(href="#")
            img.img-fluid.slider-item__img(src='img/slider-item-auto1.jpg', alt='mersedes-benz e350')
            .slider-item__price 3 350 000
            .slider-item__info
                .slider-item__model Mercedes-Benz E350
                .slider-item__city Новосибирск
            

    
        
