.car-carousel{
    background: #f4f4f4;
    padding: 3.9rem 3.5rem 1.3rem 6rem;
}

.car-carousel .owl-next{
    position: absolute;
    right: 4vw;
    top: 45%;
    transform: translateY(-50%);
}

.car-carousel .owl-prev{
    position: absolute;
    left: 55px;
    top: 45%;
    transform: translateY(-50%);
}

.car-carousel .owl-nav{
    margin: 0px;
    height: 0px;
}

.car-carousel__button{
    cursor: pointer;
    z-index: 2;
    position: absolute;
    text-transform:uppercase;
    color: #121212;
    font-size: 12px;
    left: 55px;
    top: 7%;
    transform: translateY(-50%);
}

.car-carousel__button::after{
    position: absolute;
    content: '';
    width: 11px;
    height: 11px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: url('img/car-carousel-button-add.png') no-repeat center / contain;

}
