.sort
    .sort__title Сортировка
    .sort__content
        .sort__item.active год
        .sort__item пробег
        .sort__item новые атомобили
        span.mr-3 |
        .sort__item дата
        .sort__item цена
    .link.link_big.ml-auto подписаться на поиск
