.sort{
    display: flex;
    align-items: center;
    background: #e4e4e4;
    padding: 10px 20px;
}

.sort__title{
    color: #121212;
    font-weight: bold;
}

.sort__content{
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.sort__item{
    color: #121212;
    cursor: pointer;
    margin-right: 20px;
}

.sort__item.active{
    color: #256ba6;
}
