.modal-window{
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 550px;
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 3;
    border-radius: 5px;
    padding: 15px;
}

.modal-window__close{
    width: 17px;
    height: 16px;
    background: url('img/modal-cross.png') no-repeat center / contain;
    cursor: pointer;
}

.modal-window__title{
    color: #121212;
    font-weight: 700;
}

.modal-window__content{
    border-radius: 2px;
    border: 3px solid #e4e4e4;
}

.modal-window__cities{
    padding: 20px;
    margin: 0px;
    column-count: 3;
    width: 100%;
    list-style: none;
}

.modal-background{
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: gray;
    opacity: 0.7;
}
