.modal-background

.modal-window(data-modal='cities')
    .d-flex.align-items-center.justify-content-between.mb-2
        .modal-window__title Выбор города
        .modal-window__close
    .modal-window__content
        ul.modal-window__cities
            li
                a.link(href="#") Москва
            li
                a.link(href="#") Санкт-Петербург
            li
                a.link(href="#") Астрахань
            li
                a.link(href="#") Барнаул
            li
                a.link(href="#") Волгоград
            li
                a.link(href="#") Воронеж
            li
                a.link(href="#") Екатеринбург
            li
                a.link(href="#") Ижевск
            li
                a.link(href="#") Иркутск
            li
                a.link(href="#") Казань
            li
                a.link(href="#") Калининград
            li
                a.link(href="#") Краснодар
            li
                a.link(href="#") Красноярск
            li
                a.link(href="#") Набережные Челны
            li
                a.link(href="#") Нижний Новгород
            li
                a.link(href="#") Новосибирск
            li
                a.link(href="#") Омск
            li
                a.link(href="#") Оренбург
            li
                a.link(href="#") Пермь
            li
                a.link(href="#") Ростов-на-Дону
            li
                a.link(href="#") Самара
            li
                a.link(href="#") Саратов
            li
                a.link(href="#") Ставрополь
            li
                a.link(href="#") Тольятти
            li
                a.link(href="#") Тула
            li
                a.link(href="#") Тюмень
            li
                a.link(href="#") Ульяновск
            li
                a.link(href="#") Уфа
            li
                a.link(href="#") Челябинск
            li
                a.link(href="#") Ярославль

    .d-flex.align-items-center.mt-4
        select.select.mr-3(style='width:193px')
            option(selected hidden disabled) Регион
            option Регион 1
            option Регион 2

        select.select.mr-3(style='width:193px')
            option(selected hidden disabled) Город
                option Москва
                option Санкт-Петербург
                option Астрахань
                option Барнаул
                option Волгоград
                option Воронеж
                option Екатеринбург
                option Ижевск
                option Иркутск
                option Казань
                option Калининград
                option Краснодар
                option Красноярск
                option Набережные Челны
                option Нижний Новгород
                option Новосибирск
                option Омск
                option Оренбург
                option Пермь
                option Ростов-на-Дону
                option Самара
                option Саратов
                option Ставрополь
                option Тольятти
                option Тула
                option Тюмень
                option Ульяновск
                option Уфа
                option Челябинск
                option Ярославль

        button.button.button_orange.button_rounded-sm Выбрать
