doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
        main
            .container
                h2.title.title_big.my-5(style='text-transform:none') Добавление объявления
                .row
                    .col-md-10(style="min-width:980px;")
                        form.form
                            .form__tabs.border-bottom.pr-3
                                .form__tabs-title.active(data-tab='1') Автомобили
                                .form__tabs-title(data-tab='2') Спецтехника
                                .form__tabs-title(data-tab='3') Автозапчасти
                                .link.link_big.font-weight-bold.ml-auto Как подать объявление?
                            
                            .form__content.pb-3(data-tab='1')
                            
                                
                                .d-flex.mb-2.align-items-center.mt-3
                                    select.select.mr-4(style='width:244px')
                                        option(selected disabled hidden) Город
                                        option Новосибирск
                                        option Москва
                                    .link.link_big(data-role='addAddress') Добавить точный адрес
                                    input.input(type='text', placeholder='Улица, дом' style='display:none; max-width:456px;width:100%')
                                    
                                hr.form__hr.mt-5
                                
                                .d-flex.flex-column.align-items-start.mt-3
                                    input.input(type='text',placeholder='VIN - код', style='width:242px')
                                    .form__text.mt-1.pl-1 При добавлении VIN кода будут автоматически заполненны поля: Марка, модель, год.
                            
                                
                                .d-flex.mb-2.align-items-center.justify-content-between.mt-3
                                    select.select(style='width:244px')
                                        option(selected disabled hidden) Марка автомобиля
                                        option Honda
                                        option Mazda
                                    select.select(style='width:244px')
                                        option(selected disabled hidden) Модель
                                        option cx-5
                                        option Civic
                                    select.select(style='width:159px')
                                        option(selected disabled hidden) Год
                                        option 2017
                                        option 2018
                                    select.select(style='width:159px')
                                        option(selected disabled hidden) Тип кузова
                                        option Седан
                                        option Кроссовер
                                        
                                .d-flex.mb-2.align-items-center.justify-content-between.mt-5
                                    select.select(style='width:159px')
                                        option(selected disabled hidden) Топливо
                                        option 92
                                        option 95
                                        option 98
                                        
                                    select.select(style='width:159px')
                                        option(selected disabled hidden) Привод
                                        option Полный
                                        option Передний
                                        option Задний
                                    select.select(style='width:159px')
                                        option(selected disabled hidden) КПП
                                        option АКПП
                                        option МКПП
                                        
                                    select.select(style='width:159px')
                                        option(selected disabled hidden) Руль
                                        option Левый руль
                                        option Правый руль
                                        
                                    select.select(style='width:159px', data-role='color')
                                        option(selected disabled hidden) Цвет
                                        option Красный
                                        option Зеленый
                                    
                                    div.form__color-helper
                                    
                                .d-flex.mb-2.justify-content-between.mt-5
                                
                                    .d-flex.flex-column.mr-5
                                        select.select(style='width:159px')
                                            option(selected disabled hidden) Состояние
                                            option Битый
                                            option Новый
                                            
                                        input.input.mt-4(type='text', placeholder='Цена',style='width:159px', data-role='price')
                                        
                                        select.select.mt-4(style='width:159px')
                                            option(selected disabled hidden) Документы
                                            option Есть
                                            option Нету
                                            
                                        input.input.mt-4(type='text', placeholder='Мощность по ПТС', style='width:159px')
                                        
                                        input.input.mt-4(type='text', placeholder='Пробег тыс.км', style='width:159px')
                                    
                                    textarea.textarea(placeholder='Детальное описание... максимум 500 символов.')
                                    
                                .d-flex.mb-2.justify-content-between.mt-3.align-items-center       
                                    .checkbox.mr-5(style='min-width:159px')
                                        input.d-none(type='checkbox', name='exchange', id='exchange', data-role='exchange')
                                        label.checkbox__label(for='exchange')
                                        .checkbox__text(for='exchange') Возможен обмен
                                        
                                    input.input(type='text', disabled, placeholder='Опишите желаемые условия обмена', style='width:100%', data-role='exchange')
                                    
                                hr.form__hr.mt-5
                                
                                .d-flex
                                    div(style='width:215px')
                                        .title.font-weight-bold(style='text-transform:none') Фотографии
                                        .form__text максимум 20 шт.
                                    
                                    label.input_photos-label
                                        input.input_file#files(type='file', name='files[]', multiple='')
                                    output.form__photos

                                        
                                hr.form__hr.mt-5
                                
                                .d-flex.mb-2.justify-content-between.mt-3.align-items-center  
                                    .d-flex.flex-column.align-items-start
                                        a.link.link_blank(href="#") Правила размещения объявлений
                                        a.link.link_blank(href="#") Пользовательское соглашение
                                    .d-flex.align-items-center
                                        a.link.link_blank.mr-4(href="#") Предпросмотр
                                        button.button.button_orange.button_rounded-sm.ml-5(style='width:159px') Добавить
                                    
                            
                        
        include ../blocks/footer/footer.jade
                
