doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
        
        main
            
            include ../blocks/car-carousel/car-carousel.jade
            .container
                
                
            
                .d-flex.align-items-center.my-5
                    .title.mr-1 все объявления в новосибирске
                    span.mr-1(style='font-size:16px') |
                    .link(data-modal='cities') Выбрать город
                .row
                    .col-md-10(style="min-width:980px;")
                        include ../blocks/form/form.jade
                        include ../blocks/sort/sort.jade
                        table.cars-table
                            tr.car-preview.vip
                                td
                                    a.car-preview__link(href="#")
                                    img.car-preview__img(src='img/car-preview-car.png', alt='Mersedes-Benz E350')
                                
                                td
                                    .car-preview__main-info
                                        .car-preview__model Mercedes-Benz E350 - 2016 г
                                        .car-preview__price 3 350 000
                                        .car-preview__favorite
                                        .car-preview__city-label Новосибирск. Сегодня в 14:24
                                td    
                                    .car-preview__additional-info
                                        .car-preview__text Бензин - 4.6 л (208 л.с)
                                        .car-preview__text 4WD - Автомат
                                        .car-preview__text Пробег - 290 тыс. км
                                        .car-preview__text Левый руль
                                        
                            tr.car-preview
                                td
                                    a.car-preview__link(href="#")
                                    img.car-preview__img(src='img/car-preview-car.png', alt='Mersedes-Benz E350')
                                
                                td
                                    .car-preview__main-info
                                        .car-preview__model.car-preview__model_up Mercedes-Benz E350 - 2016 г
                                        .car-preview__price 3 350 000
                                        .car-preview__favorite.active
                                        .car-preview__city-label Новосибирск. Сегодня в 14:24
                                td    
                                    .car-preview__additional-info
                                        .car-preview__text Бензин - 4.6 л (208 л.с)
                                        .car-preview__text 4WD - Автомат
                                        .car-preview__text Пробег - 290 тыс. км
                                        .car-preview__text Левый руль
                            
                            include ../blocks/car-preview/car-preview.jade
                            include ../blocks/car-preview/car-preview.jade
                            include ../blocks/car-preview/car-preview.jade
                            include ../blocks/car-preview/car-preview.jade
                                        
                            tr.car-preview
                                td
                                    a.car-preview__link(href="#")
                                    img.car-preview__img(src='img/car-preview-noimage.png', alt='Mersedes-Benz E350')
                                
                                td
                                    .car-preview__main-info
                                        .car-preview__model.car-preview__model_up Mercedes-Benz E350 - 2016 г
                                        .car-preview__price 3 350 000
                                        .car-preview__favorite.active
                                        .car-preview__city-label Новосибирск. Сегодня в 14:24
                                td    
                                    .car-preview__additional-info
                                        .car-preview__text Бензин - 4.6 л (208 л.с)
                                        .car-preview__text 4WD - Автомат
                                        .car-preview__text Пробег - 290 тыс. км
                                        .car-preview__text Левый руль
                                        
                        a.cars-table__link.my-3(href="#") Смотреть все объявления
                            
                    .col-md-2
                    

        include ../blocks/modal/modal.jade
        include ../blocks/footer/footer.jade
