doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
        
        main
                
            .container
                section.mt-4
                    .row
                        .col-md-3
                            h2.title.title_big2.mb-4(style='text-transform:none;') Профиль 
                            include ../blocks/aside/aside.jade
                        .col-md-7
                            .user.mt-5
                                .user__info
                                    .user__name.user__name_big Дмитрий
                                    .user__last-seen номер в системе 00133688
                                    .user__status.confirmed.mt-2 Подтвержден
                                    
                            hr.mt-4.form__hr2
                            section        
                                table.table.mt-4(style='max-width:340px;width:100%;')
                                    tr
                                        td.table__cell-title Объявления
                                        td
                                            a.link.link_big(href="#") 23 шт
                                        td
                                            a.link.link_big(href="#") Добавить
                                    tr
                                        td.table__cell-title Баланс
                                        td.table__cell 155
                                        td.table__cell
                                            a.link.link_big(href="#") Пополнить
                                
                            hr.mt-4.form__hr2
                                    
                            section
                                h2.title.title_big2(style='text-transform:none;') Контактная информация
                                
                                .row.mx-0.mt-5
                                    .col-md-2.px-0
                                        img(src='img/user-img2.jpg', alt='Ваше фото')
                                        .text-center.mt-2
                                            .link.font-weight-bold Изменить фото 
                                    .col-md-7
                                        .d-flex.align-items-center
                                            input.input.w-100.mr-2(type='text', value='Дмитрий', placeholder='Ваше имя')
                                            button.button.button_gray2.button_rounded-sm Изменить
                                        .d-flex.align-items-center.mt-3
                                            input.input.w-100.mr-2(type='text', value='+79883332255', placeholder='Ваш номер телефона')
                                            button.button.button_gray2.button_rounded-sm Изменить
                                            
                                        .d-flex.align-items-center.mt-3
                                            input.input.w-100.mr-2(type='text', value='user@mail.ru', placeholder='Ваш email')
                                            button.button.button_gray2.button_rounded-sm Изменить
                                            
                                        .d-flex.align-items-center.mt-3    
                                            select.select.w-100.mr-2
                                                option(selected) Новосибирск
                                                option Москва
                                            button.button.button_gray2.button_rounded-sm Изменить
                                        

                                        
                            hr.mt-4.form__hr2
                            
                            section(style="max-width:512px;")
                                h2.title.title_big2.mb-5(style='text-transform:none;') Уведомления
                                
                                .d-flex.align-items-center.justify-content-between
                                    label Изменения статусов подключённых услуг
                                    .switcher
                                        input.d-none(type='checkbox',  checked, id='s1')
                                        label.switcher__track(for='s1')
                                        label.switcher__button(for='s1')
                                .d-flex.align-items-center.justify-content-between.mt-4
                                    label Уведомления о новых сообщениях
                                    .switcher
                                        input.d-none(type='checkbox', checked,  id='s2')
                                        label.switcher__track(for='s2')
                                        label.switcher__button(for='s2')
                                .d-flex.align-items-center.justify-content-between.mt-4
                                    label Подборки интересующих объявлений и категорий
                                    .switcher
                                        input.d-none(type='checkbox', id='s3')
                                        label.switcher__track(for='s3')
                                        label.switcher__button(for='s3')
                                .d-flex.align-items-center.justify-content-between.mt-4
                                    label Новости
                                    .switcher
                                        input.d-none(type='checkbox', id='s4')
                                        label.switcher__track(for='s4')
                                        label.switcher__button(for='s4')
                                        
                            hr.mt-4.form__hr2
                            
                            section
                                h2.title.title_big2.mb-5(style='text-transform:none;') Смена пароля
                                
                                table
                                    tr
                                        td.pb-4 
                                            label.mr-5 Текущий пароль
                                        td.pb-4 
                                            input.input(type='text', style='width:244px;')
                                    tr
                                        td.pb-4 
                                            label.mr-5 Новый пароль
                                        td.pb-4 
                                            input.input(type='text', style='width:244px;')
                                    tr
                                        td.pb-4
                                            label.mr-5 Повторите пароль
                                        td.pb-4
                                            input.input(type='text', style='width:244px;')
                                    tr
                                        td.pb-4
                                            a.link(href="#") Забыли пароль?
                                        td.pb-4.text-right
                                            button.button.button_gray2.button_rounded-sm Изменить
                                    
        
    include ../blocks/footer/footer.jade
