doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
        main
            .container
                .row
                    .col-md-10(style="min-width:980px;")
                        include ../blocks/card/card.jade
                        include ../blocks/map/map.jade
                        h2.title.font-weight-bold.mt-5.title_small Возможно, Вас заинтересуют
                        .row
                            .col-md-3.mt-4
                                include ../blocks/slider-item/slider-item.jade
                            .col-md-3.mt-4
                                include ../blocks/slider-item/slider-item.jade
                            .col-md-3.mt-4
                                include ../blocks/slider-item/slider-item.jade
                            .col-md-3.mt-4
                                include ../blocks/slider-item/slider-item.jade
                            .col-md-3.mt-4
                                include ../blocks/slider-item/slider-item.jade
                            .col-md-3.mt-4
                                include ../blocks/slider-item/slider-item.jade
                            .col-md-3.mt-4
                                include ../blocks/slider-item/slider-item.jade
                            .col-md-3.mt-4
                                include ../blocks/slider-item/slider-item.jade
                                
                        .col-md-2
                    
        include ../blocks/footer/footer.jade
