.checkbox{
    display: flex;
    align-items: center;
}

.checkbox__label{
    position: relative;
    width: 13px;
    height: 13px;
    border: 1px solid #363636;
    border-radius: 2px;
    margin: 0px;
}

.checkbox [type='checkbox']:checked + .checkbox__label::after{
    position: absolute;
    content: '✓';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

.checkbox__text{
    white-space: nowrap;
    margin-left: 5px;
    color: #121212;
    font-size: 14px;
}
