.footer__top-wrapper{
    background: #f4f4f4;
}

.footer__top{
    display: flex;
    align-items: center;
    padding: 19px 15px;
}

.footer__link{
    margin-right: 10px;
    color: #256ba6;
    font-size: 13px;
}

.footer__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 15px;
}
