footer.footer.mt-5
    .footer__top-wrapper.border-top
        .footer__top.container
            a.footer__link(href='#') Автомобили
            a.footer__link(href='#') Спецтехника
            a.footer__link(href='#') Автозапчасти
    .footer__bottom-wrapper
        .footer__bottom.container
            a.footer__link(href='#') Подать объявление
            a.footer__link(href='#') Помощь
            a.footer__link(href='#') Безопасность
            a.footer__link(href='#') Пользовательское соглашение 
            a.footer__link(href='#') Реклама на сайте
            a.footer__link(href='#') Карьера
        
