.list{
    list-style: none;
    background: #f4f4f4;
    padding: 0px;
    margin: 0px;
    z-index: 1;
}

.list__item{
    color: #475258;
    font-size: 14px;
    padding: 6px 35px 6px 16px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
}
