.switcher{
    width: 47px;
    height: 24px;
    position: relative;
}

.switcher__track{
    cursor: pointer;
    display: block;
    height: 100%;
    background: #e4e4e4;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.switcher__button{
    cursor: pointer;
    display: block;
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background-color: #ffffff;
}

.switcher [type='checkbox']:checked ~ .switcher__track{
    background-color: #2b87dc;
}

.switcher [type='checkbox']:checked ~ .switcher__button{
    left: auto;
    right: 3px;
}
