section.card.mt-5
    .d-flex.align-items-center
        h2.card__title.mr-3 Mercedes-Benz GL-Class, 2007 г. в Новосибирске
        .card__favorite
    .card__info.mt-2
        .card__info-text.mr-5 Сегодня в 14:24
        .ml-4.card__info-text.card__info-text_view 251 (35 сегодня) | 135 в избранном
    .row.mt-4.mx-0           
        .card__img
            img.img-fluid(src="https://s.auto.drom.ru/i24211/s/photos/24475/24474898/gen1200_221782001.jpg", data-current="0")
            .card__img-prev
            .card__img-next
        
        .card__previews-wrapper        
            .card__previews.flex-row.flex-md-column
                img.card__preview.card__preview_active(src="https://s.auto.drom.ru/i24211/s/photos/24475/24474898/gen1200_221782001.jpg", alt="превью", data-index="0") 
                img.card__preview(src="http://avtomobil-review.ru/wp-content/uploads/2017/05/Obzor-Mercedes-Benz-GL-Class.jpg", alt="превью", data-index="1")
                img.card__preview(src="https://s.auto.drom.ru/i24220/s/photos/29670/29669178/gen1200_286030710.jpg", alt="превью", data-index="2")
                img.card__preview(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShp0NDY_T87rvXE06exh1FHTZRYYN4S7tJ-CFuYOnNN_odwzxPdA", alt="превью", data-index="3")
                img.card__preview(src="https://s.auto.drom.ru/i24211/s/photos/24475/24474898/gen1200_221782001.jpg", alt="превью", data-index="4") 
                img.card__preview(src="http://avtomobil-review.ru/wp-content/uploads/2017/05/Obzor-Mercedes-Benz-GL-Class.jpg", alt="превью", data-index="5")
                img.card__preview(src="https://s.auto.drom.ru/i24220/s/photos/29670/29669178/gen1200_286030710.jpg", alt="превью", data-index="6")
                img.card__preview(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShp0NDY_T87rvXE06exh1FHTZRYYN4S7tJ-CFuYOnNN_odwzxPdA", alt="превью", data-index="7")
                    
        .card__general.ml-auto.mr-5
            .card__price 3 350 000 Р
            .mt-5
                .card__general-info
                    span.card__general-title Двигатель: -
                    span.card__general-text Бензин - 4.6 л (208 л.с)
                .card__general-info
                    span.card__general-title Привод: -
                    span.card__general-text 4WD - Автомат
                .card__general-info
                    span.card__general-title Пробег: -
                    span.card__general-text 290 тыс. км
                .card__general-info
                    span.card__general-title Руль:
                    span.card__general-text левый
                .card__general-info
                    span.card__general-title Комплектация:
                    span.card__general-text GL 500 Особая серия 
                    
            include ../user/user.jade
            
            button.button.button_blue.button_rounded-sm.w-100.mt-4 показать телефон

        
    p.card__text.mt-4
        | Не Москва, не Питер, не американец. Самая максимальная комплектация. Офроуд пакет. 7 мест. Салон в полном порядке, подогревы и вентиляция. Зимняя резина имеется. Двигатель, пневма в ОТС. За наличные очень хороший торг. На обмен цена договорная.
    p.card__text.mt-4
        b.mr-1 Обмен:
        | на равноценную, на более дешевую.
        p.card__text_color_lite Интересен BMW X5 не старше 2007г. X6. Mercedes. Infiniti Fx от 2008г. Так же рассмотрю варианты
            
                    
                    
                    
                    
                
