.card{
    border: none;
}

.card__title{
    color: #121212;
    font-size: 26px;
    margin: 0px;
}

.card__favorite{
    width: 19px;
    height: 19px;
    background: url('img/card-favorite.png') no-repeat center / contain;
    position: relative;
    cursor: pointer;
}

.card__favorite.active{
    background: url('img/card-favorite-active.png') no-repeat center / contain;
}

.card__info{
    display: flex;
    align-items: center;
}

.card__info-text{
    color: #475258;
    font-size: 12px;
    position: relative;
}

.card__info-text_view::after{
    position: absolute;
    content: '';
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 11px;
    background: url('img/card__info-text_view.png') no-repeat center / contain;
}

.card__favorite:not(.active):hover::after{
    position: absolute;
    content: 'Добавить в избранное';
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    background: #475258;
    padding: 2px 8px;
    color: #f4f4f4;
    font-family: "Arial";
    font-size: 14px;
    white-space: nowrap;
    border-radius: 5px;
}

.card__previews-wrapper{
    height: 411px;
    width: 113px;
    overflow: hidden;
    position: relative;
    border-left: 4px solid #e4e4e4;
}

.card__previews{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    user-select: none;
}

.card__previews::-webkit-scrollbar {
    width: 1px !important;
}

.card__previews::-webkit-scrollbar-thumb {
    background: #333 !important;
}

@media (max-width:1200px),(max-device-width:1200px) {
    .card__preview_active{
        border: none !important;
    }
}

.card__preview{
    max-width: 125px !important;
    max-height: 125px !important;
    cursor: pointer;
    flex: 0 0 auto;
}

.card__img{
    position: relative;
    background-color: #f2f1ef;
    user-select: none;
    width: 549px !important;
    height: 411px !important;
    cursor: pointer;
}

.card__img img{
    width: 549px !important;
    height: 411px !important;
    margin: 0px auto;
    display: block;
}

.card__img-prev{
    width: 36px;
    height: 40px;
    background: url("img/card-prev.jpg") no-repeat center / contain !important;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    cursor: pointer;
}

.card__img-next{
    width: 36px;
    height: 40px;
    background: url("img/card-next.jpg") no-repeat center / contain !important;
    position: absolute;
    top: 50%;
    right:0%;
    transform: translateY(-50%);
    cursor: pointer;
}

.card__text{
    color: #121212;
    line-height: 22px;
}

.card__text_color_lite{
    color: #475258;
}

.card__general{
    width: 265px;
}

.card__price{
    color: #121212;
    font-size: 24px;
    font-weight: 700;
}

.card__general-info:not(:first-child){
    margin-top: 2px;
}

.card__general-title{
    font-size: 14px;
    color: #475258;
    margin-right: 0.25rem;
}

.card__general-text{
    color: #121212;
    font-size: 14px;
}

@media (max-width:500px),(max-device-width:500px) {
    .card__img-prev{
        width: 26px;
        height: 26px;
        left: 2%;
    }

    .card__img-next{
        width: 26px;
        height: 26px;
        right: 2%;
    }
}
