button:focus{
    outline: none;
}

.button{
    transition: 0.3s;
    border-radius: 17px;
    font-size: 14px;
    padding: 8px 26px 8px 26px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.button_blue{
    background-color: #2b87dc;
    color: #f4f4f4;
    font-weight: bold;
}

.button_blue:hover{
    background: #006ba9;
}

.button_rounded-sm{
    border-radius: 5px;
}

.button_orange{
    background: #ff9c00;
    border: 1px solid #e58700;
    color: #121212;
}

.button_orange:hover{
    background: #ff8800;
    color: #fff;
}

.button_gray{
    background: #e4e4e4;
    color: #256ba6;
    font-size: 14px;
}

.button_gray2{
    background: #f4f4f4;
    color: #121212;
    border: 1px solid #e4e4e4;
}

.button_gray:hover{
    background: #f4f4f4;
}

.button_gray2:hover{
    background: #e4e4e4;
}

.button_long{
    padding-left: 115px;
    padding-right: 115px;
}
