
aside.aside
    ul.aside__list
        li
            a.aside__item.active(href="#") Профиль
        li
            a.aside__item(href="#") Сообщения
        li.hasSublist
            a.aside__item.open(href="#") Объявления
            ul.aside__sublist
                li
                    a.aside__sublist-item(href="#") Активные
                li
                    a.aside__sublist-item(href="#") На модерации
                li
                    a.aside__sublist-item(href="#") Отклоненные
                li
                    a.aside__sublist-item(href="#") В архиве
        li
            a.aside__item(href="#") Кошелек
        li
            a.aside__item(href="#") Помощь
