.aside{
    max-width: 262px;
    width: 100%;
    box-shadow: -2px 0 7px rgba(71, 82, 88, 0.15);
    border-radius: 4px;
    border: 1px solid rgba(204, 204, 204, 0.35);
    background-color: #ffffff;
}

.aside__list{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.aside__list > li:not(.hasSublist){
    padding: 9px 15px 9px 26px;
    border-bottom: 1px solid #edf1f5;
}

.aside__list li.hasSublist > a{
    margin: 9px 15px 9px 26px;
    display: block;
    background: url('img/aside-arrow-close.png') no-repeat 95% center / 9px 6px;
}

.aside__list li.hasSublist > a.open{
    background: url('img/aside-arrow-open.png') no-repeat 95% center / 9px 6px;
}

.aside__sublist{
    display: none;
    list-style: none;
    padding: 0px;
    background: #f9fafb;
}

.aside__list li.hasSublist > a.open + .aside__sublist{
    display: block;
}

.aside__sublist > li{
    padding: 9px 15px 9px 52px;
    border-bottom: 1px solid #edf1f5
}

.aside__sublist-item{
    transition: 0.3s;
    color: #475258;
    font-size: 14px;
}


.aside__item{
    transition: 0.3s;
    color: #475258;
    font-size: 14px;
}

.aside__item:hover{
    color: #256ba6;
}

.aside__item.active{
    color: #256ba6;
    font-weight: bold;
}
